@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

h1 {
    font-size: 5rem;
    text-align: center;
    margin: 2rem;
    text-decoration-line: underline;
}

h2 {
    font-size: 3rem;
}

#container {
    margin: 10rem auto;
    width: 40rem;
    height: 60rem;
    background-image: url("../../img/font.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#head {
    padding: 1rem;
}

#weather {
    border: 0.3rem solid #ffffff;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.62);
}

#days {
    border: 0.1rem solid black;
}

#temperature {
    width: 50%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#minMax {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
}

#blockHour {
    width: 50%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#temp {
    font-size: 4.5rem;
}

.minMax {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.block {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#img {
    width: 40%;
    height: 100%;
}

#maxSize, #minSize {
    height: 40%;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.73);
}

#hours {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wind {
    height: 35%;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#hour {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}



